- if Object.errors.any?
  %div( id="error_explanation")
    %div(class="alert alert-error" )
      %span The form contains
      %span
        = pluralize(Object.errors.count, "error")
    %ul
      -Object.errors.full_messages.each do |msg|
        %li
          = msg